* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F9F5ED;
  font-family: 'Poppins', sans-serif;;
}

/* nav */

nav {
  height: 10vh;

}

/* nav > ul */
nav ul  {
  display: flex;
  align-items: center;

}

/* nav > ul > li */
nav ul li {
  list-style: none;
  margin: 2%;

}

/* nav > ul > li > img */
nav ul li img {
  width: 100px;
}

/* nav > ul > li > a */ 
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
  
}

/* Hero section */
main {
  /* height: 80vh; */
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Left Section */
.leftmain {
  width: 40%;
}

.leftmain h1, p {
  margin-left: 5%;

}

.leftmain button {
  font-size: 15px ;
  font-weight: 600;
  background-color: #3B855B;
  color: white;
  border: none;
  padding: 2%;
  margin: 5%;
  border-radius: 15px;
  cursor: pointer;
  
}

/* Right section */
.rightmain {
  /* width: %; */
  padding: 5%;
  /* align-items: center; */
}

.rightmain  div img {
  width: 30%;
  margin: 2%;
}


.rightmain > img {
  width: 65%;
  margin: 2%;
}
